/* general */
* {
    font-family: 'Barlow', sans-serif;
}

.container {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.lead {
    font-size: 15px;
    color: black;
}

h1, .h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    color: black;
}

.main-description {
    width: 500px;
}
/* home */
.paper-weight {
    width: 100px;
    height: 80%;
    background: black;
    position: absolute;
    left: 50%;
    top: 10%;
    align-items: center;
}

.brush-holder {
    width: 175px;
    height: 80px;
    position: absolute;
    left: 30%;
    top: 40%;
    align-items: center;
    border-radius: 50px / 50%;
    background-color: #5194D1;
}

.brush {
    /* width: 175px;
    height: 80px; */
    width: auto;
    height: 400px;
    position: absolute;
    left: 35%;
    top: 20%;
}

.ink {
    width: 175px;
    height: 175px;
    position: absolute;
    left: 15%;
    top: 15%;
    align-items: center;
    border-radius: 50%;
    background-color: #000;
    border: 20px solid #5194D1;
}

.card {
    width: 40rem;
    height: 30rem;
    float: right;
    align-items: center;
    background-color: #FCFCFC;
    border: none;
    -webkit-animation: blink 3.0s linear infinite;
    -moz-animation: blink 3.0s linear infinite;
    -ms-animation: blink 3.0s linear infinite;
    -o-animation: blink 3.0s linear infinite;
    animation: blink 3.0s linear infinite;
}

/* front page animation */
@keyframes blink {
    0% { box-shadow: 0 0 20px #6D6D6D; }
    50% { box-shadow: none; }
    100% { box-shadow: 0 0 20px #6D6D6D; }
}

@-webkit-keyframes blink {
    0% { box-shadow: 0 0 20px #6D6D6D; }
    50% { box-shadow: 0 0 0; }
    100% { box-shadow: 0 0 20px #6D6D6D; }
}

/* work */
.nav-link {
    margin-top: 20px;
    color: black;
    transition: 0.3s;
}
.nav-link:hover, .p-name:hover{
    font-weight: bold;
    color: #D9E7F3;
    background-color: #5194D1;
    border-radius: 5%;
    text-decoration: none;
}
.active {
    text-decoration: underline;
}

/* start */
.timeline {
	width: 80%;
	height: 20px;
	list-style: none;
	text-align: justify;
	margin: 80px auto;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, rgba(81,148,209,1)), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(81,148,209,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}
.timeline:after {
    display: inline-block;
    content: "";
    width: 100%;
}
.timeline li {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #fff;
	text-align: center;
	line-height: 1.2;
	position: relative;
	border-radius: 50%;
    border: 5px solid #5194D1;
    left: -20px;
}
.timeline li:hover {
    background: #D9E7F3;
    transition: 0.3s;
}
.p-name {
	display: inline-block;
	position: absolute;
	transform: translateX(-50%);
    bottom: 0;
	margin-bottom: -20px;
	transform: translate(-50%, 100%);
    color: black;
    font-family: 'Barlow', sans-serif;
    transition: 0.3s;
}
.large {
    font-weight: bold;
}

/* contact */

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #5194D1;
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #D9E7F3;
    color: #5194D1;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #5194D1;
    color: #D9E7F3;
    font-weight: bold;
}

/* images */
@media screen and (max-width: 1024px) {
    .image-grid5, .image-grid2, .image-grid2c, .image-grid1, .image-grid3 {
      --num-cols: 2;
      --row-height: 200px;
    }
}

.image-grid5 {
    --gap: 16px;
    --num-cols: 5;  
    box-sizing: border-box;  
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    margin: 100px;
}
.image-grid5 > img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.image-grid3 {
    --gap: 16px;
    --num-cols: 3;  
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    margin: 100px;
}
.image-grid3 > img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.image-grid1 {
    --gap: 16px;
    --num-cols: 1;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    margin: 100px;
}
.image-grid1 > img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.image-grid2 {
    --gap: 16px;
    --num-rows: 2;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(var(--num-rows), 1fr);
    gap: var(--gap);
    margin: 100px;
}
.image-grid2 > img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.image-grid2c {
    --gap: 16px;
    --num-cols: 2;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    gap: var(--gap);
    margin: 100px;
}
.image-grid2c > img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

/* carousel */
.carousel-img {
    width: 100%;
    height: 700px;
    object-fit: scale-down;
}

/* icons */
ion-icon {
    color: black;
    border: 1px solid white;
    border-radius: 50%;
}