/* Nav of home page */
.home-nav {
    text-align: center;
    width: 30%;
    transform: translateY(40%);
    float: right;
}

/* Logo and company name*/
.brand {
    max-width: 80%;
    max-height: auto;
}
/* Side nav of other pagse*/
.side-nav {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #EB9F79;
}
#menu {
    text-align: center;
    transform: translateY(70%);
}

/* Navigation */
.nav {
    list-style-type: none;
    padding: 0;
}
a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
}
a.navigation:hover {
    background-color: #EB9F79;
    color: black;
}
.all-nav a:hover {
    background-color: white;
    color: black;
}

h1 {
    font-family: 'Didot', serif;
    text-align: center;
}

a, h3, p, label {
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
}
.title {
    margin-left: 20%;
    text-align: center;
}
.flavors {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 25px;
    margin-left: 20%;
    padding: 20px;
}

/* Product cards */
.product {
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.1);
    transition: 0.3s;
    border-radius: 20px;
    padding: 20px;
}
.product:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.details {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
.cost {
    padding-top: 10px;
    font-size: 15px;
}

/* Product description alignment */
.prod-desc {
    padding-bottom: 50px;
    padding-left: 50px;
}

.cart, .prod, .helper {
    margin-left: 80%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    border: none;
    margin-left: 20%;
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;/* 15% from the top and centered */
    padding: 20px;
    padding-right: 20px;
    width: 80%;
    height: 60%;
    /* QUESTION: Why does this not fit to the content? */
}

#rolls, #glazing {
    border: none;
    box-shadow: 0 2px 6px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 5px;
}

.add-cart {
    background-color: #EB9F79;
    display: inline-block;
    border-radius: 5px;
    border-style: solid;
    border: 5px;
    border-color: #EB9F79;
    transition-duration: 0.4s;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
}
.add-cart:hover{
    box-shadow: 0 2px 6px 2px rgba(0,0,0,0.1);
}
/* adjusting columns within modal*/
.left {
    float: left;
}
  
.right {
    width: 70%;
    float: right;
}
  
/* The Close Button + styling */
.close1, .close2, .close3, .close4, .close5, .close6 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close1:hover, .close1:focus,
.close2:hover, .close2:focus,
.close3:hover, .close3:focus,
.close4:hover, .close4:focus,
.close5:hover, .close5:focus,
.close6:hover, .close6:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* button styling */
#myBtn1, #myBtn2, #myBtn3, #myBtn4, #myBtn5, #myBtn6 {
    border: none;
    background-color: transparent;
}

/* shopping cart */
.products-container {
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 20%;
}
.product-header {
    width: 100%;
    display:flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}
.prods ion-icon {
    cursor: pointer;
}

.action {
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}
.prod{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}
