/* Nav of home page */
.home-nav {
    text-align: center;
    width: 30%;
    transform: translateY(40%);
    float: right;
}
/* Side nav of other pagse*/
.side-nav {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #EB9F79;
}
#menu {
    text-align: center;
    transform: translateY(70%);
}
/* Logo and company name*/
.brand {
    max-width: 80%;
    max-height: auto;
}
.nav {
    list-style-type: none;
    padding: 0;
}
a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
}
a.navigation:hover {
    background-color: #EB9F79;
    color: black;
}
.all-nav a:hover {
    background-color: white;
    color: black;
}
h1 {
    font-family: 'Didot', serif;
    text-align: center;
}

a, h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
}
.flavors {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    float: right;
}
/* Product cards */
.product {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.product:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.details {
    text-align: center;
}